main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

#holyFishList {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr;
  gap: 20px;
}

#soldierFishList {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr;
  gap: 20px;
}

#regularFishList {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr;
  gap: 20px;
}
